body {
	font-family: helvetica;
}

div.device {
    display: inline-block;
    flex-grow: 1;
}

div.control {
	/*border: 1px solid black;*/
	padding: .75em;
	clear: none;
	display: inline-block;
	text-align: center;
	line-height: 0;
	vertical-align: middle;
	overflow: hidden;
}

div.control button, div.control, .jqx-button {
	/* padding: 4em; */
	font-size: large;
	vertical-align: middle;
}

#main-container, #main, #door-lights {
	width: 79%;
	float: left;
	display: flex;
	flex-wrap: wrap;
}

#main-container #main, #main-container #door-lights {
	width: 100%;
}

/* Location selector */
nav#location-selector {
	float: right;
	height: 100%;
	width: 20%;
	border-left: 1px solid gray;
}

nav#location-selector h1 {
	text-align: center;
	font-size: large;
}

nav#location-selector h2 {
	text-align: center;
	font-size: small;
}

#locations {
	font-size: large;
	/*overflow: hidden;*/
	/*position: relative;*/
	/*height: 100%;*/
	border: none;
	border-top: 1px solid gray;

	width: 100%;
}

select#locations option {
	padding: 1em;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	margin-top: -1px;
}

div.jqx-switchbutton, div.horizontal-button {
	clear: none;
	display: inline-block;
}

div.horizontal-button {
	margin: 0 0.5em 0 0.5em;
}

fieldset {
	border: 1px solid gray;
}

fieldset h2 {
	text-align: center;
	font-size: medium;
}

fieldset legend {
	font-size: large;
	font-weight: bold;
}

div#Light {
	clear: left;
	display: inline-block;

}
div#Door {
	clear: right;
	display: inline-block;
}

@font-face {
	font-family: symbola;
	src: url(scripts/Symbola.ttf);
}
.symbol {
	font-family: symbola;
	font-size: xx-large;
}

img {
    max-width:100%;
}

.rocker .control {
	padding: 0;
}

.rocker .infoDisplay {
	padding-left: 0.25em;
	padding-right: 0.25em;

	padding-top: 1em;
	border-top: 1px solid gray;

	padding-bottom: 0.75em;
	border-bottom: 1px solid gray;

}

.rocker div.label {
	margin-bottom: 0.65em;
}

.buttongroup div.label {
	margin-bottom: 0.65em;
}

.jqx-fill-state-pressed {
	background-color: #666;
}

.rot180 {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	display: block;
}

.rot90 {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	display: block;
}

.rot270 {
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	display: block;
}

.red {
	color: red;
}

.square {
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
}

#nurse-call fieldset {
	text-align: center;
}

#control-5392 button {
	font-size: xx-large;
	width: 100%;
}